@media screen and (max-width: 800px) {
    .UploadBody {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .fileUploadParent {
        height: 230px;
        width: 100%;
        display: flex;
    }

    .fileUploadParent .drag-drop {
        background-color: #ffffff;
        border: 2.58px dashed;
        border-color: #2e6ee3;
        border-radius: 26.9px;
        box-shadow: 3.59px 3.59px 17.93px 3.59px #2e6ee31a;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        display: inline-flex;
    }

    .CardBody {
        height: 100px;
        position: relative;
        width: 100%;
        display: inline-flex;
    }

    .group {
        background: linear-gradient(105deg, rgb(75 231 249 / 99%), rgb(82, 79, 255));
        height: 88px;
        width: 50%;
        margin-right: 6%;
        border-radius: 12.511px;
    }

    .img {
        background: linear-gradient(89deg, rgb(255, 138, 45), rgb(255, 64, 110));
        height: 88px;
        width: 50%;
        border-radius: 12.511px;
    }

    .SignByMeDicParnt {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2e63da80;
        border-radius: 8.71px;
        font-size: 15px;
        font-family: none;
        color: white;
        font-weight: 700;
        height: 35px;
    }

    .SigningButtons {
        width: 100%;
        display: inline-flex;
        margin-top: 5%;

    }

    .signIcon {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        opacity: 0.5;
    }


    .subTypNameParent {
        width: 50%;
        height: 174px;
        font-family: 'Poppins-SemiBold', Helvetica;
        background-color: #ffffff;
        border-radius: 5.31px;
        box-shadow: 0px 3.71px 18.55px 4.64px #6d6d6d40;
        margin-right: 2%;
    }

    .subTypName {
        color: #222222cc;
        font-size: 12px;
        padding-left: 6%;
        font-weight: 600;
    }

    .NumbrOfSgnsChld2 {
        font-family: 'Poppins-SemiBold', Helvetica;
        font-weight: 500;
        color: #222222cc;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .planDuraton {
        font-family: 'Roboto Condensed-SemiBold', Helvetica;
        padding-left: 8%;
        color: white;
        font-size: 12px;
    }

    .getStarted {
        border-radius: 13.29px;
        font-size: 14px;
        width: 60%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: 'Poppins-SemiBold', Helvetica;
        font-weight: 600;
    }

    .price {
        font-family: 'Roboto Condensed-SemiBold', Helvetica;
        height: 70%;
        display: flex;
        align-items: center;
        padding-left: 8%;
        color: white;
        font-size: 26px;
    }

    .topUpPlanParnt {
        width: 40%;
    }

    .moreOrLessBtnPrnt {
        width: 60%;
        display: flex;
        justify-content: end;
        align-items: center;
    }


    .viewMoreAdLessBtn {
        padding: 2%;
        border-radius: 6.86px;
        background-color: #2e63da;
        color: white;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Lato-Bold', Helvetica;
        display: flex;
        cursor: pointer;
        margin: 3px 3px;
    }

    .subscriptinHead {
        color: #262686;
        font-weight: 700;
        font-family: 'Lato-Bold', Helvetica;
        font-size: 20px;
        white-space: nowrap;

    }

    .SubscribeHeadParent {
        margin: 7% 0% 1% 0%;
        display: flex;
    }

}

@media screen and (min-width: 800px) {
    .UploadBody {
        width: 100%;
        display: inline-flex;
    }

    .fileUploadParent {
        height: 230px;
        width: 75%;
        display: flex;
        justify-content: center;
        margin-left: 12%;
    }

    .fileUploadParent .drag-drop {
        background-color: #ffffff;
        border: 2.58px dashed;
        border-color: #2e6ee3;
        border-radius: 26.9px;
        box-shadow: 3.59px 3.59px 17.93px 3.59px #2e6ee31a;
        height: 100%;
        left: 0;
        top: 0;
        width: 60%;
        display: inline-flex;
    }

    .CardBody {
        height: 230px;
        position: relative;
        width: 25%;
    }

    .group {
        background: linear-gradient(105deg, rgb(75 231 249 / 99%), rgb(82, 79, 255));
        height: 110px;
        width: 210px;
        margin-bottom: 3%;
        border-radius: 12.511px;
    }

    .img {
        background: linear-gradient(89deg, rgb(255, 138, 45), rgb(255, 64, 110));
        height: 110px;
        width: 210px;
        border-radius: 12.511px;
    }

    .SignByMeDicParnt {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2e63da80;
        border-radius: 8.71px;
        font-size: 15px;
        font-family: none;
        color: white;
        font-weight: 700;
        height: 35px;
    }

    .SigningButtons {
        width: 90%;
        display: inline-flex;
        margin-top: 2%;

    }

    .signIcon {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 56px;
        opacity: 0.5;
    }


    .subTypNameParent {
        width: 23%;
        height: 230px;
        font-family: 'Poppins-SemiBold', Helvetica;
        background-color: #ffffff;
        border-radius: 5.31px;
        box-shadow: 0px 3.71px 18.55px 4.64px #6d6d6d40;
        margin-right: 2%;
        scrollbar-width: none;
    }

    .subTypName {
        color: #222222cc;
        font-size: 17px;
        padding-left: 6%;
        font-weight: 600;
    }

    .NumbrOfSgnsChld2 {
        font-family: 'Poppins-SemiBold', Helvetica;
        font-weight: 500;
        color: #222222cc;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .planDuraton {
        font-family: 'Roboto Condensed-SemiBold', Helvetica;
        padding-left: 8%;
        color: white;
        font-size: 14px;
    }

    .getStarted {
        border-radius: 13.29px;
        font-size: 15px;
        width: 60%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: 'Poppins-SemiBold', Helvetica;
        font-weight: 600;
    }

    .price {
        font-family: 'Roboto Condensed-SemiBold', Helvetica;
        height: 70%;
        display: flex;
        align-items: center;
        padding-left: 8%;
        color: white;
        font-size: 34px;
    }

    .topUpPlanParnt {
        width: 50%;
    }

    .moreOrLessBtnPrnt {
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1.5%;
    }

    .viewMoreAdLessBtn {
        padding: 2%;
        border-radius: 6.86px;
        background-color: #2e63da;
        color: white;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Lato-Bold', Helvetica;
        display: flex;
        cursor: pointer;
        margin: 3px 3px;
    }

    .subscriptinHead {
        color: #262686;
        font-weight: 700;
        font-family: 'Lato-Bold', Helvetica;
        font-size: 22px;
        white-space: nowrap;

    }

    .SubscribeHeadParent {
        margin: 2% 0% 1% 0%;
        display: flex;
    }

}

/** Drag Drop Section*/
.fileUploadParent .drag-drop-your-PDF {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 18px;
    font-weight: 800;
    white-space: nowrap;
}

.uploadBtn {
    background-color: #2e63da;
    border-radius: 11.87px;
    color: white;
    font-family: "Lato", Helvetica;
    font-size: 12px;
    padding: 4.42px 20.18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    border: none;
}

.uploadPara {
    color: #9e9b9b;
    font-family: "Lato", Helvetica;
    font-size: 10px;
    text-align: center;
    padding: 6%;
}

.fileUploadParent .overlap-group {
    height: 32px;
    position: relative;
}

.fileUploadParent .photo-camera {
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.fileUploadParent .x {
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.fileUploadParent .overlap-group-wrapper {
    height: 32px;
    left: 495px;
    position: absolute;
    top: 244px;
    width: 32px;
}

.DriveDIV {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 18%;
}

.gDriveImg {
    height: 27px;
    width: 27px;
}

.dropInfo {
    height: 100%;
    padding: 1%;
    width: 70%;
}

.dropInfoAferDrop {
    height: 100%;
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    flex-direction: column;
}

.upldImg {
    justify-content: center;
    display: flex;
    height: 35%;
}

.image {
    height: 50px;
    width: 90px;
}

.or {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    height: 10%;
    margin-bottom: 3%;
}

.UplPDFImgBtn {
    display: flex;
    justify-content: center;
    height: 17%;
}

.UPLPDFIMGBTN {
    width: 60%;
    display: flex;
    justify-content: center;
}

.UPLTXTPARADIV {
    display: flex;
    justify-content: center;
    height: 24%;
}

.CameraClickUpld {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20%;
    padding-left: 4%;

}

.DrgDrpTxt {
    justify-content: center;
    display: flex;
    height: 12%;
}

/** Drag Drop Section*/

/* Top Up Cards*/

/* style.css */
.signature-card {
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1%;
    display: flex;
}

.AvailableSign {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27%;
    font-family: 'Lato-Bold', Helvetica;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 11px;
}

.topUpBtn {
    height: 70%;
    font-size: 10px;
    letter-spacing: 1px;
    width: 70%;
    border-radius: 5%;
    border: none;
    background-color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topUpBtn:hover {
    transform: scale(1.1);
}

.unitsDetails {
    width: 70%;
    height: 100%;
}

.NoOfUnitsParent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
}

.NoOfUnitsChild {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.topUpBtnParnt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

/* Top Up Cards*/

/* Sign by me - send for signing btns*/
.SignByme {
    width: 50%;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    padding-right: 1%;
}

.personAndLayer {
    height: 24px;
    width: 24px;
}

.SndFrSgning {
    width: 50%;
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

.SignByMeDicParnt:hover {
    transform: scale(1.08);
}


/* Sign by me - send for signing btns*/

/* Info after file drop */
.PDFImage {
    height: 100%;
    width: 100%;
}

.UpldFleName {
    height: 15%;
    font-weight: 500;
    font-size: 16px;
    font-family: auto;
}

.trashIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.UpdSucsMesage {
    height: 15%;
    font-size: 20px;
    width: 100%;
    font-family: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info after file drop */

/* Subscription plan details */

#subListParent {
    display: -webkit-inline-box;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.priceAndSigns {
    /* background: linear-gradient(296deg,
            rgb(247, 103, 79) 0%,
            rgb(255, 192.78, 42.15) 100%); */
    border-radius: 0px 41.22px 41.22px 0px;
    width: 90%;
    padding: 4%;
}






.NumbrOfSgns {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.NumbrOfSgnsChld1 {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;

}





.getStarted:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.getStartdPrnt {
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Subscription plan details */

/* View more and less button */

.viewMoreAdLessBtn:hover .chevronRight {
    transform: scale(1.4);
}