@media (max-width: 480px) {
    #captchaGroup {
        display: block;
    }

    #captcha2 {
        height: auto;
        /* width: auto; */
        width: -webkit-fill-available;
    } 

    #cardBody, .mx-5 {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .WholeContent {
        width: 300px !important;
    }
}

.voucher-confirm-overlay {
    z-index: 20001 !important;
}

.blink {
    animation: blinker 1s linear infinite;
    color: green;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}